:root {
  --primary-tex-color: #757575;
  --title-tex-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: #ffffff;
  color: var(--primary-tex-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.71;
  /* margin: 0 200px; */
}

/* components  */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.site-nav {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav {
  display: flex;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.logo-main {
  color: #000000;
  font-family: 'Raleway';
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logoaccent {
  color: var(--accent-color);
}

.specific.logo {
  color: var(--white-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Site-nav */

.site-nav a {
  font-family: 'Roboto';
  font-style: normal;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Auth-nav */

.auth-nav.list {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav:first-child {
  margin-right: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-address {
  color: var(--white-color);
  text-decoration: none;
}

.contacts-address:hover,
.contacts-address:focus {
  color: var(--accent-color);
}

/* Hero */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-hero-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.hero {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
}

/* Feautures */

.features-listwrapper {
  display: flex;
}

.list-features {
  width: 270px;
}

.list-features:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.features-text {
  color: var(--primary-tex-color);
  font-weight: 400;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Example */

.sphere {
  padding-top: 0;
}

.sphere-pictures {
  display: flex;
  justify-content: space-between;
}

.sphere-title {
  color: var(--title-tex-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Team */

.team {
  background: #f5f4fa;
}

.team-cards {
  display: flex;
  gap: 30px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.our-employees {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team-text {
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  color: var(--title-tex-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  color: var(--title-tex-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

/* Button */

.button.primary {
  color: var(--white-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
}

/* Footer */

.footer {
  padding: 60px 0;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.address-list:not(:last-child) {
  margin-bottom: 9px;
}

.address-footer-link {
  font-size: 14px;
}

.logo-footer {
  color: var(--white-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0.03em;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Portfolio */

/* Portfolio Main */

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-filter-button {
  background: #ffffff;
}

.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-list-portfolio {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-portfolio {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.auth-nav.list a {
  color: var(--primary-tex-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.auth-nav.list a:hover,
.auth-nav.list a:focus {
  color: var(--accent-color);
}

.button-primary {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Work */

.work-link {
  text-decoration: none;
}

.work-list {
  color: var(--title-tex-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-text {
  color: var(--primary-tex-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.portfolio-footer {
  font-style: normal;
}
